@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


/* * {
  font-family: "Times New Roman", Times, serif;
}*/

@layer components {
  .card {
    /* display: block; */
    /* overflow: hidden; */
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border: 0.7px solid gray;
    box-shadow: 0 4px 10px 2px,
    0 2px 6px -2px rgba(0, 0, 0, 0.2);
  }
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    /* padding: 1rem; */
    height: 35vh;
}
  .contents h1 {
    /* text-transform: uppercase; */
    /* color: black; */
    /* letter-spacing: 1rem; */
    font-weight: 500;
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
  .video {
    position: absolute;
    z-index: -1;
    height: 75%;
    width: 100%;
    object-fit: cover;
  }
}
/* @layer components{
  .section {
    align-items: center;
    justify-content: center;
  }
} */

